/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__text-screen;
	text-decoration: none;

	&:visited {
		// color: $color__link-visited;
		color: darken($color__text-screen, 10%);
	}
	&:hover,
	&:focus,
	&:active {
		color: lighten($color__text-screen, 10%);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

nav {
	ul {
		margin-left: 0;
		list-style: none;
		display: flex;
		li {
			display: flex;
			// justify-content: flex-start;
		}
		
	}
	
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	// padding-left: 0;

	li {
		display: flex;
		// justify-content: flex-start;
	}

	// li + li:before {
	// 	content: '|';
	// 	padding: 0 10px;
	// }

	

	// ul {
	// 	display: none;
	// 	list-style: none;
		// margin: 0;
		// padding-left: 0;

		

		// ul {
		// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			// position: absolute;
			// top: $base__space-unit;
			// left: -999rem;
			// z-index: 99999;
			// padding-left: 0;	

			// ul {
			// 	left: -999rem;
			// 	top: 0;
			// }

	// 		li {
	// 			&:hover > ul,
	// 			&.focus > ul {
	// 				left: 100%;
	// 			}
	// 		}

	// 		a {
	// 			width: 200px;
	// 		}

	// 		:hover > a,
	// 		.focus > a {
	// 		}

	// 		a:hover,
	// 		a.focus {
	// 		}
	// 	}

	// 	li:hover > ul,
	// 	li.focus > ul {
	// 		left: auto;
	// 	}
	// }
	// li {
	// 	float: left;
	// 	position: relative;

	// 	&:hover > a,
	// 	&.focus > a {
	// 	}
	// }
	// a {
	// 	display: block;
	// 	text-decoration: none;
	// }

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a {
	// }

}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Custom Styling

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	@include tablet {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	};
	@include desktop {
		justify-content: flex-end;
	}
}

.menu {
	li a {
		color: $color__text-screen;
	}
	ul {
		padding-left: 0;
		margin: 0;
		li + li:before {
			content: '|';
			padding: 0 10px;
		}
	}
	
}

@include tablet {
	.site-info p{
	  margin: 0;
	  &:before {
		  content: '|';
		  padding: 0 10px;
	  }
	}
  }
