/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* All Desktop Pages */

// Layout for quotation icons and page content

@include desktop {
    .content-area {
        display: flex;
        justify-content: center;
    }
    #main {
        max-width: 70%;
        margin: 0 3%;
    }
    .toggle-display {
    }
}


/* All Archives Page */

// Categories / Tags
.archive-block {
    margin-bottom: 40px;
    .archive-author {
        display: inline;
        font-family: $font__main;
        @include desktop {
            font-size: 1rem;
        }
    }
    .quote-source {
        display: inline;
        font-size: 1.5rem;
        font-family: 'Exo light-italic';
        @include desktop {
            font-size: 1rem;
        }
    }
}

.number-pagination {
    margin-top: 50px;
}




/* Submit a Quote Page */

/* Home Page */
.placeholder {
    @include desktop {
        min-height: 6rem;
    }
}
