/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/



/* All Archives Page */

// Categories / Tags
.archive-block {
    margin-bottom: 40px;
    .archive-author {
        display: inline;
        font-family: $font__main;
    }
    .quote-source {
        display: inline;
        font-size: 1.5rem;
        font-family: 'Exo light-italic';
    }
}

.number-pagination {
    margin-top: 50px;
}




/* Submit a Quote Page */

/* Home Page */
